
.boxyellow
{
	background-color: yellow;
	width: 25%;
	height: 100px;
	margin-bottom: 0px;
	float: right;
	
}
.boxblue
{
	background-color: blue;
	width: 25%;
	height: 100px;
	margin-top: 0px;
	float: right;

	
}
.boxred
{
	background-color: red;
	width: 25%;
	height: 100px;
	margin-top: 0px;
	float: right;
	
}
.contenedor{
	width: 90%;
	border:1px solid grey;

}